

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 10px;
  width: 100vh;
  height: 100%;   
}

.container div {
  border: 2px solid white;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 20px;
  background-color: rgba(0,0,0,0.3);
}

.m {
  width: 100%;
  height: 400px; 
}