.container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 10px;
  width: 100vh;
  height: 100%;   
}

.container div {
}

#map {
  width: 100%;
  height: 400px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 200, 255, 0.5); 
  mix-blend-mode: luminosity;
  /*background: rgba(0, 150, 255, 0.35);*/
}