

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 10px;
  width: 100vh;
  height: 100%;   
}

.container div {
  border: 2px solid white;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 20px;
  /*background-color: rgba(61, 176, 103, 0.3);*/
}

#map {
  width: 500px;
  height: 500px;
  border-radius: 12px;
 /* box-shadow: 0 0 20px rgba(0, 200, 255, 0.5); */
  mix-blend-mode: luminosity;
  /*background: rgba(0, 150, 255, 0.35);*/
}

#mp {
  width: 400px;
  height: 400px; 
  border-radius: 12px;
  /*box-shadow: 0 0 20px rgba(0, 200, 255, 0.5); */
  mix-blend-mode:luminosity;
}

.ad {
  width: 100% ;
  height: 400px;
  font-family: 'Droidobesh';
}

.bi {
  width: 10vw;
  text-align: center;
}

.s {
  width:500px;
  height:500px;
}


.r {
  width: 500px;
  height: 500px;
  position: relative; 
}

.r .radar {
  width: 100%;
  height: 100%;
  display: block;
}

.r .ligne {
  position: absolute;
  width: 50%;      
  height: 0.1px;    
  background-color: rgb(47, 113, 212); 
  transform-origin: 100% 50%;
  top: 45%;
  left: 0%;
}






.imgh {
  width:500px;
  height:500px;
}

body {
  font-family: 'Droidobesh';
  background-color: grey;
}


@font-face {
  font-family: 'Droidobesh';
  src: url('../../assets/fonts/droidobesh-depot-font/DroidobeshDepot-gxmVE.otf') format('opentype');
}


