
html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow:hidden;
  font-family: 'Droidobesh';
  background-color: rgba(133, 156, 225, 0.747);
  }

.container {
  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows:repeat(3,1fr);
  padding: 10px;
  gap: 10px;
  width: 100vw;
  height: 100vh;   
  box-sizing:border-box;
}

.container div {
  border: 2px solid white;
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 20px;
  width:100%;
  height:100%;
  box-sizing:border-box;
}

.container img,
.container canvas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.bi {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}


.r {
  width: 100%;
  height: 100%;
  position: relative; 
}

.r .radar {
  width: 100%;
  height: 100%;
  display: block;
}

.r .ligne {
  position: absolute;
  width: 35%;      
  height: 1px;    
  transform-origin: 100% 50%;
  top: 45%;
  left: 15%;
}

.iv i {
  font-size: 100px;   
  color: white;    
}

.m1  {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
}

#mp {
  mix-blend-mode:luminosity; 
}

#map {
  mix-blend-mode:luminosity; 
}

@font-face {
  font-family: 'Droidobesh';
  src: url('../../assets/fonts/droidobesh-depot-font/DroidobeshDepot-gxmVE.otf') format('opentype');
}


