

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 10px;
  width: 100vh;
  height: 100%;   
}

.container div {
}

.m {
  width: 100%;
  height: 400px; 
}