

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 10px;
  width: 100vh;
  height: 100%;   
}

.container div {
  border: 2px solid white;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 20px;
  /*background-color: rgba(61, 176, 103, 0.3);*/
}

#map {
  width: 400px;
  height: 400px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 200, 255, 0.5); 
  mix-blend-mode: luminosity;
  /*background: rgba(0, 150, 255, 0.35);*/
}

#mp {
  width: 400px;
  height: 400px; 
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 200, 255, 0.5); 
  mix-blend-mode: luminosity;
}

.ad {
  width: 100% ;
  height: 400px;
  font-family: 'Droidobesh';
}

body {
  font-family: 'Droidobesh';
  background-color: grey;
}


@font-face {
  font-family: 'Droidobesh';
  src: url('../../assets/fonts/droidobesh-depot-font/DroidobeshDepot-gxmVE.otf') format('opentype');
}


